body {

  .img-shape {
    background-size: cover;
    background: no-repeat center;

  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-inner {
      height: 600px;
      width: 90%;

      .carousel-item {
        height: inherit;
      }
    }
  }

  .magazine-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .row-width {
      width: 90%;

      h1 {
        color: #F97300;
      }
    }
  }

  .about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    width: 90%;

    h1 {
      color: #F97300;
      margin: 2em;
    }

    img {
      border-radius: 50%
    }

    span {
      display: block;
      color: #888;
      position: absolute;
      left: 115px;
    }

    .desc {
      padding: 2em;
      border-left: 4px solid #10828C;

      h3 {
        color: #10828C;
      }

      p {
        line-height: 2;
        color: #888;
      }
    }
  }

  .contact-form {
    margin: 6em 0;
    position: relative;

    h1 {
      padding: 2em 1px;
      color: #F97300;
    }

    .right {
      max-width: 600px;

      .btn-secondary {
        background: #F97300;
        color: #fff;
        border: 0;
      }

      .form-control::placeholder {
        color: #888;
        font-size: 16px;
      }
    }
  }

}




